  .LogoPeque {
      height: calc(5px + 10vmin);
      width: auto;
      margin-left: 15px;
  }
  .CarritoForm {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 25%;

      .Carrito {
          display: flex;
          justify-content: space-around;
          border: solid;
          padding: 1%;
          border-radius: 15%;
          width: 20%;
      }
  }